/* Definição de variáveis */
:root {
    --text-white: #ffffff;
    --text-menu: #2ecc71;
    --btn-1: #DA2424;
    --btn-2: rgb(46, 204, 113);
    --bg-button: #292D35;
    --bg: #F3F5ED;
    --borderW: 2px;
    --numOfBlobs: 4;
    --blobScale: 1.7;
    --blobScaleGoo: 1.4;
    font-size: 62.5%;
}
  
/* Reset de estilos */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: "Nunito Sans", sans-serif;
    backgroung: var(--text-white);
}
.container{
    height: 100vh;
}
  
/* Estilos comuns */
.menu-wrapper,
.content-wrapper,
.container-info,
.container-healthy,
.options,
.container-dishes,
.contact,
.location,
.footer-content {
    width: 128rem;
    margin: auto;
}
  
/* Estilos do header */
header {
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}
  
.menu-wrapper {
    font-size: 1.6rem;
    text-align: right;
    justify-content: space-between;
}
  
header img {
    width: 14rem;
    display: flex;
}
  
.menu-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 2rem;
}
  
.menu-wrapper ul {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.menu-wrapper ul li {
    cursor: pointer;
}
  
.menu-wrapper ul li:hover {
    color: var(--text-menu);
    border-bottom: 0.1rem solid var(--text-menu);
}

/* Estilos do main */
.top-main {
    background: url(../assets/banner.png) 100% no-repeat;
    background-size: cover;
    position: relative; /* Certifique-se de que o <main> tenha posição relativa para que o posicionamento absoluto funcione corretamente */
    width: 100%;
    height: 75rem; 
    display: flex;
    flex-direction: row; /* Mantenha ou ajuste conforme necessário */
    justify-content: space-between; /* Mantenha ou ajuste conforme necessário */
}
.content-wrapper{
    width: 70%; /* Define a largura do content-wrapper */
    margin-left: calc((100vw - 128rem) / 2); /* Calcula o margin-left para respeitar o limite de 128rem */
}  
.content-wrapper h1 {
    font-size: 4.8rem;
    font-weight: 800;
    color: var(--bg-button);
}
  
.content-wrapper h1  .green {
    font-size: 5.2rem;
    color: var(--text-menu);
}
  
.content-wrapper p {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

/* Estilos dos botões */
.buttons {
    display: flex;
    gap: 2rem;
    margin: 7rem 0 5rem;
}
  
/* Estilos para blob-btn */
.blob-btn {
    position: relative;
    z-index: 1;
    padding: 20px 46px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-white);
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: color 0.5s;
}
/* Estilos específicos para o segundo botão */
.blob-btn-2 .blob-btn__inner {
    background: var(--btn-2);
}
.blob-btn-3 .blob-btn__inner {
    background: var(--btn-2);
    
}
.blob-btn-3{
    margin-top: 5rem;
}
.blob-btn::before,
.blob-btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
  
.blob-btn::before {
    z-index: 1;
    border: none;
}
  
.blob-btn::after {
    z-index: -2;
    left: calc(var(--borderW) * 1.5);
    top: calc(var(--borderW) * 1.5);
    transition: all 0.3s 0.2s;
}
  
.blob-btn:hover {
    color: var(--text-white);
}
  
.blob-btn:hover::after {
    left: 0;
    top: 0;
    transition: all 0.3s;
}
/*PRIMEIRO BUTTON*/
.blob-btn__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    border-radius: 30px;
    background: var(--bg-button);
}
  
.blob-btn__blobs {
    display: block;
    height: 100%;
    position: relative;
    filter: url('#goo');
}
  
.blob-btn__blob {
    position: absolute;
    top: var(--borderW);
    width: calc(100% / var(--numOfBlobs));
    height: 100%;
    background: var(--bg-button);
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(var(--blobScale));
    transition: transform 0.45s;
}
.bt-1{
    top: var(--borderW);
    width: calc(100% / var(--numOfBlobs));
    height: 100%;
    background: var(--btn-2);
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(var(--blobScale));
    transition: transform 0.45s;
}
/*PARTE DOS BUTTON*/

@supports (filter: url('#goo')) {
    .blob-btn__blob {
        transform: translate3d(0, 150%, 0) scale(var(--blobScaleGoo));
    }
}
  
.blob-btn__blob:nth-child(1) {
    left: calc((1 - 1) * (120% / var(--numOfBlobs)));
    transition-delay: calc((1 - 1) * 0.08s);
}
  
.blob-btn__blob:nth-child(2) {
    left: calc((2 - 1) * (120% / var(--numOfBlobs)));
    transition-delay: calc((2 - 1) * 0.08s);
}
  
.blob-btn__blob:nth-child(3) {
    left: calc((3 - 1) * (120% / var(--numOfBlobs)));
    transition-delay: calc((3 - 1) * 0.08s);
}
  
.blob-btn__blob:nth-child(4) {
    left: calc((4 - 1) * (120% / var(--numOfBlobs)));
    transition-delay: calc((4 - 1) * 0.08s);
}
  
.blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(var(--blobScale));
}
  
@supports (filter: url('#goo')) {
    .blob-btn:hover .blob-btn__blob {
        transform: translateZ(0) scale(var(--blobScaleGoo));
    }
}

/*INFOS*/
.container-info {
    position: absolute;
    top:68rem;
    left: 0;
    width: 100%;
    z-index: 1; /* Ajuste o z-index conforme necessário para que fique acima do <main> */
    
}
.infos{
    display: flex;
    justify-content: center;
    
}
.infos h2{
    font-size: 2.4rem;
    font-weight: 800;
}
.infos span{
    display: flex;
    width: 42.5rem;
    height: 25rem;
    padding: 4rem;
    align-items: center;
}
.infos span p{
    margin-top: 1.5rem;
    font-size: 1.4rem;
    line-height: 1.5;
}

.infos span:nth-child(1) {
    /* Estilos para o primeiro <span> */
    border-radius: 4rem 0 0 4rem;
    background: var(--text-white);
    box-shadow: 0px 0px 20px -12px rgba(38, 38, 38, 0.5);
}

.infos span:nth-child(2) {
    /* Estilos para o segundo <span> */
    background: var(--text-menu);
    color: var(--text-white);
}
.infos span:nth-child(2) p {
    color: var(--bg-button); /* Substitua 'red' pela cor desejada */
}
.infos span:nth-child(2) img{
    color: var(--text-white);
}
.infos span:nth-child(3) {
    /* Estilos para o terceiro <span> */
    border-radius: 0 4rem 4rem 0;
    background: var(--bg-button);
    color: var(--text-white);
}
.infos img{
    width: 10rem;
    object-fit: cover;
    margin: 20px;
}

/*container-healthy*/
.container-healthy{
    margin-top: 30rem;
}
.healthy {
    display: flex;
    justify-content: space-between;
    position: relative; /* Necessário para o posicionamento absoluto do .video */
}

.text-wrapper {
    flex: 1; /* Ocupa o espaço restante */
}

.text-wrapper h2 {
    font-size: 4.8rem;
    font-weight: 800;
    color: var(--bg-button); /* Cor do texto */
    margin: 0; /* Remove margem padrão */
}
.text-wrapper h2 .green,
.contact h2 .green{
    color: var(--text-menu);
}
.text-wrapper p{
    font-size: 1.45rem;
    line-height: 2;
    text-align: justify;
    margin-top: 2rem;
}
.banner{
    max-width: 38%; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-right: 8rem;
    border-radius: 3rem;
    box-shadow: 0px 0px 50px -12px rgba(38, 38, 38, 0.5);
    display: block;

}
.video{
    display: grid;
    flex-direction: row;
    grid-template-columns: 5rem 20rem;
    gap: 2rem;
    width: 34rem;
    height: 13rem;
    position: absolute;
    left: 14.7rem;
    bottom: 0;
    background: var(--text-white);
    border-radius: 3rem;
    z-index: 1;
    box-shadow: 0px 0px 50px -12px rgba(38, 38, 38, 0.5);
    place-content: center;
    align-items: center;
}
.video img{
    width: 7rem;
}
.video a{
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    color:var(--bg-button);
    cursor: pointer;
    text-decoration: none;
}
.video a:hover{
    color: var(--text-menu);
}
/*ICONS*/
.icons {
    display: grid;
    flex-direction: row;
    grid-template-columns: 5rem 50rem;
    gap: 3rem 0;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 2.5rem;
}
.icon{
    width: 4rem;
    margin-right: 1rem;
}
/*OPTIONS*/
.container-options,
.container-contact,
.location-container{
    width: 100%;
    background: var(--bg);
    margin-top: 10rem;
    padding: 6rem 0;
}

.options {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.options h2 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.options p {
    font-size: 1.4rem;
    line-height: 3rem;
}

.opt {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    perspective: 1000px; /* Adicionado para o efeito 3D */
}

.circle {
    display: flex;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: var(--btn-2);
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
    position: relative; /* Para posicionamento absoluto dos filhos */
    transform-style: preserve-3d; /* Manter a imagem 3D */
    transition: transform 0.6s ease; /* Animação suave */
}
.circle:hover{
    background: var(--bg-button);
}

.circle img {
    width: 70%;
    object-fit: cover;
    position: absolute;
    backface-visibility: hidden; /* Garantir que a parte de trás não seja visível */
}

.circle img.front {
    transform: rotateY(0deg); /* Frente */
}

.circle img.back {
    
    transform: rotateY(180deg); /* Costas */
}

.circle:hover {
    transform: rotateY(180deg); /* Rotação no eixo Y ao passar o mouse */
}

/*PRATOS*/
.ex-1{
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    margin-top: 5rem;
}
.dishes{
    width: 50%;
    margin-left: 5rem;
    padding-top: 5rem;
}
.container-dishes img{
    width: 60rem;
    object-fit: cover;
}
.dishes h2,
.contact h2{
    font-size: 4.8rem;
    font-weight: 800;
    color: var(--bg-button);
    line-height: 6rem;
}
.dishes .phrase,
.text-contact p{
    font-weight: 400;
    margin: 3rem 0 3rem;
    line-height: 3rem;
}
.dishes .bold,
.dishes,
.valor{
    font-weight: 800;
    line-height: 4rem;
}
.dishes .result{
    color: var(--text-menu);
}
.dishes .red,
.valor{
    color: red;
}
.valor{
    margin-top: 5rem;
    font-size: 2.4rem;
}
.dishes button{
    margin-right: 3rem;
}
.inverso{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.6rem;
    margin-top: 5rem;
}

/*CONTATO*/
.container-contact{
    padding: 4rem 0 0;
}
.text-contact{
    width: 50%;
    text-align: justify;
}
.text-contact h2{
    padding-top: 3rem;
}
.container-contact img{
    width: 50rem;
    object-fit: cover;
    margin-right: 8rem;
}
form{
    margin-top: 6rem;
}
form input{
    border-radius: 3rem;
    border: .1rem solid rgba(38, 38, 38, 0.3);
    width: 48%;
    padding: 2rem;
}
form input:nth-child(1) {
    margin-bottom: 2rem;
    margin-right: 2rem
}
form input:nth-child(2) {
    margin-bottom: 2rem;
}
form input:nth-child(3) {
    margin-right: 2rem;
}
form .btn{
    margin-top: 5rem;
    width: 100%;
}

/*subscribe*/
.container-subscribe {
    width: 100%;
    background: url(../assets/pattern-bgn.png) 90%;
    text-align: center;
    color: var(--text-white);
    font-size: 3.2rem;
    padding: 10rem 0;
}

.container-subscribe h2 {
    margin-bottom: 3rem;
}

.container-subscribe span {
    font-weight: 800;
    color: var(--bg-button);
}

.container-subscribe p {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.subscribe-wrapper {
    position: relative;
    display: inline-block;
}

.container-subscribe input {
    border-radius: 3rem;
    border: .1rem solid rgba(38, 38, 38, 0.3);
    width: 45rem;
    padding: 2rem 5rem 2rem 2rem;
    margin-top: 4rem;
    padding-right: 8rem; /* Espaço para o botão */
}

.subs {
    width: 20rem;
    position: absolute;
    right: 0;
    left: 60%;
    top: 70%;
    transform: translateY(-50%);
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
}
/*LOCATION*/
.location-container {
    margin-top: 0;
    padding: 15rem 0 0;
}

.location {
    display: flex; /* Torna o container flexível */
    justify-content: space-between; /* Distribui espaço entre os itens */
    align-items: flex-start; /* Alinha os itens no início do eixo transversal */
    background: var(--text-white);
    border-radius: 3rem;
    border: .1rem solid rgba(38, 38, 38, 0.3);
    
}

.location h2 {
    font-size: 1.8rem;
}

.location p {
    font-size: 1.4rem;
    font-weight: normal;
}
.icons-container {
    width: 50rem;
    margin: 7rem; /* Margem ao redor da div */
}
.location .icons {
    display: grid;
    grid-template-columns: 10rem 26rem; /* Definir duas colunas, uma para o círculo e outra para o texto */
    grid-template-rows: auto auto; /* Definir duas linhas, uma para o h2 e outra para o p */
    align-items: center;
    row-gap: 0rem; /* Diminuir o espaçamento entre as linhas */
    margin: 0;
    padding: 1rem;
}
.location .circle {
    width: 8rem;
    height: 8rem;
    grid-row: 1 / 3; /* O círculo ocupará as duas linhas */
    margin-bottom: 0;
}
.location .icons:nth-child(1) {
    /* Estilos para o primeiro <span> */
    border-bottom: .1rem solid rgba(38, 38, 38, 0.2);
}
.location .icons:nth-child(2) {
    /* Estilos para o primeiro <span> */
    border-bottom: .1rem solid rgba(38, 38, 38, 0.2);
}
.btn-contact{
    margin-top: 3rem;
}
iframe {
    border-radius: 0 3rem 3rem 0;
    flex: 1; /* Faz o iframe ocupar o espaço restante */
    
}
.waves {
    width: 100%;
    height: 70%;
    position: relative;
    margin-top: 7rem;
    z-index: 1;
}

/* Estilos do footer */
footer {
    width: 100%;
    background: var(--bg-button);
    top: -10rem;
    display: flex;
    position: relative;
    z-index: 2; /* Garante que o footer fique abaixo do .direitos */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    color: var(--text-white);
    font-size: 1.6rem;
    height: 50rem;
    margin-top: 5rem;
}

.footer-content .one {
    width: 30rem;
    color: #9e9fa0;
    line-height: 1.7em;
}

.footer-content section img {
    width: 10rem;
    margin-bottom: 3rem;
}

.footer-content h2 {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--text-menu);
}

.footer-content ul {
    font-weight: 700;
    list-style: none; /* Remove os marcadores padrão da lista */
    padding-left: 0; /* Remove o padding padrão da lista */
}

.footer-content ul li {
    margin: 1.5rem;
    padding-left: 2rem; /* Espaçamento à esquerda para o símbolo > */
    position: relative; /* Para posicionamento do símbolo */
    cursor: pointer;
}

.footer-content ul li:hover {
    color: var(--text-menu);
}

.footer-content ul li::before {
    content: ">"; /* Conteúdo do pseudo-elemento antes do texto */
    position: absolute; /* Posicionamento absoluto */
    left: 0; /* Posiciona o símbolo à esquerda do texto */
    color: var(--text-menu); /* Cor do símbolo > */
}

.icon-footer {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: start;
    gap: 1rem 0; /* Adiciona um espaço vertical entre as linhas */
}

.icon-row {
    display: contents;
}

.icon-row i {
    color: var(--text-menu);
    font-size: 2.5rem;
    grid-column: 1;
    grid-row: span 2;
}

.icon-row span.green {
    color: var(--text-menu);
    font-weight: 800;
    grid-column: 2;
}

.icon-footer p {
    grid-column: 2;
    font-size: 1.4rem;
    margin-top: 0; /* Remove a margem superior dos parágrafos */
    cursor: pointer;
}
.icon-footer p:hover{
    color: var(--text-menu);
}

.direitos {
    width: 100%;
    background: #1F2228;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2; /* Garante que .direitos fique acima do footer */
    padding: 2.5rem 0;
    
}
.direitos p{
    color: var(--bg);
    font-size: 1.4rem;
    font-weight: 700;
}
.efeito-btn{
    display: none;
}
/*ANIMAÇÃO*/

.hidden {
    opacity: 0;
    transform: translateY(30px); /* Deslizamento menor */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transição mais rápida */
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* Aplicando um leve delay em diferentes seções, se necessário */
.text-container:nth-child(2) .hidden {
    transition-delay: 0.5s;
}

.text-container:nth-child(3) .hidden {
    transition-delay: 0.5s;
}
